
# .npmignore
node_modules/


jest.config.js
jest.init.js

Makefile

pnpm-lock.yaml
git.README.md

rollup.config.js.back
rollup.config.mjs
rollup.config.js
tsconfig.json
tsconfig.test.json

README.md
package.json
# ignore src, test
src/**/*
test/**/*
docs/**/*

docs/

package.json

.travis.yml
.gitattributes

.gitignore
.editorconfig

.nvmrc
.prettierrc.js

icons.json
